//1200以上
.fixed_width {
  width: 1150px;
  margin: auto;
}

//nav start
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 50;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}

.mobil-toggle {
  display: none;
}

nav {
  padding: 8px 0 8px 0;
}

.logo {
  float: left;
  display: inline;

  a {
    display: block;
    height: 0;
    cursor: pointer;
  }

  img {
    height: 40px;
  }
}

.menu {
  float: right;
  display: inline;
  line-height: 40px;
  -webkit-overflow-scrolling: touch;
  &__item {
    float: left;
    padding: 0 0 0 15px;

    a {
      cursor: pointer;
      
      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: 0 auto;
        border: 0;
        background: $color__dark;
        transition: all .2s;
        cursor: pointer;
      }

      &:hover {
        background-color: rgba(255,255,255,.1);
        &::after {
          animation: changeLetter .3s 1 linear;
          width: 100%;
        }
      }
    }
  }
}

@keyframes changeLetter {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

// nav end

// banner
// .banner {
//   background: url('../imgs/S__6856706.jpg') center no-repeat;
//   background-size: cover;
//   height: 100vh;
// }

// main
// product strat
.product__title--big {
  padding-bottom: 40px;
}

.product__title--medium {
  padding-left: 12px;
}

// product end

// about start
.about {
  padding: 80px 0 80px 0;

  h3 {
    padding: 0 0 40px 0;
  }

  p {
    text-align: center;
    overflow: hidden;
  }
}

// about end

//product start
.product {
  padding: 80px 0 80px 0;
}

//product end

//share start
.share {
  padding: 80px 0 0 0;

  &__title {
    padding-bottom: 40px;
  }
}

.share__img {
  padding: 0 0 80px 0;
}

//share end

//contact start
.contact {
  background: url('../imgs/sdbanner.jpg') no-repeat center;
  background-size: cover;

  &__title {
    padding-bottom: 40px;
  }
}

.contact__mask {
  background: rgba(0, 0, 0, .5);
  padding: 80px 0 80px 0;
}

.contact__left {
  padding-right: 25px;
  width: 50%;
  float: left;

  &--form {
    width: 550px;
    padding: 10px;
    border: solid 1px #52555a;
    margin: 0 0 20px 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
  }

  &--submit {
    width: 100px;
    outline: none;
    background-color: darken($color__primary, 5%);
    border: none;
    color: $color__light;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    float: right;
    cursor: pointer;
    -webkit-overflow-scrolling: touch;
  }
  &--submit-hover {
    &:hover {
      background-color: darken($color: $color__primary, $amount: 15%);
    }
  }
}

.contact__right {
  width: 50%;
  padding-left: 25px;
  float: left;

  &--item {
    padding-top: 20px;

    span {
      margin-left: 5px;
    }
  }
}

//contact end

// footer strat
footer {
  text-align: center;
  padding: 10px 0 10px 0;
  display: block;
  font-size: 24px;
}

// footer end

// 960以上,1200以下
@include max-width(1200px) {

  .fixed_width {
    width: 910px;
    margin: auto;
  }

  //contact start
  .contact__left {
    width: 50%;
    float: left;
    padding-right: 15px;

    &--form {
      width: 100%;
      padding: 10px;
      margin: 0 0 10px 0;
    }

    &--submit {
      width: 100px;
      padding: 10px;
    }
  }

  .contact__right {
    width: 50%;
    padding-left: 15px;
    float: right;

    iframe {
      height: 170px;
    }
  }

  //contact end
}

// 720以上,960以下
@include max-width(960px) {

  .fixed_width {
    width: 670px;
  }

  // main

  // about start
  .about {

    p {
      text-align: justify;
    }

    br {
      display: none;
    }
  }

  // about end
  .product__title--medium {
    padding-left: 5px;
  }

  //contact start
  .contact__left {
    width: 100%;
    float: left;
    padding: 0;
    margin-bottom: 30px;

    &--form {
      width: 100%;
    }

    &--submit {
      width: 100%;
    }
  }

  .contact__right {
    width: 100%;
    padding: 0;

    iframe {
      height: 170px;
    }
  }

  //contact end
}


// 540以上,720以下
@include max-width(720px) {
  .fixed_width {
    width: 500px;
  }

  // main
  // about start
  .about {
    padding: 40px 0 40px 0;

    h3 {
      padding: 0 0 20px 0;
    }
  }

  // about end

  //product start
  .product {
    padding: 40px 0 40px 0;
  }

  //product end

  //share start
  .share {
    padding: 40px 0 0 0;

  }

  .share__img {
    padding: 0 0 40px 0;
  }

  //share end

  //contact start
  .contact {
    background: url('../imgs/sdbanner.jpg') no-repeat center;
    background-size: cover;
  }

  .contact__mask {
    background: rgba(0, 0, 0, .5);
    padding: 40px 0 40px 0;
  }

  .contact__left {
    padding: 0;
    width: 100%;
    margin-bottom: 40px;

    &--form {
      padding: 5px;
      margin: 0 0 20px 0;
      line-height: 18px;
      font-size: 16px;
      font-weight: bold;
    }

    &--submit {
      width: 100%;
      outline: none;
      background-color: $color__primary;
      border: none;
      color: $color__light;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      padding: 10px;
    }
  }

  .contact__right {
    width: 100%;
    padding-left: 0;

    &--item {
      padding-top: 20px;
    }
  }

  //contact end


  // footer strat
  footer {
    font-size: 20px;
  }

  // footer end
}

@include max-width(556px) {
  .fixed_width {
    width: 95%;
  }

  //nav start

  .logo {
    float: left;
    display: inline;

    a {
      display: block;
      height: 0;

    }

    img {
      height: 40px;
    }
  }

  .mobile-toggle {
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;

    span {
      width: 30px;
      background: #000;
      height: 3px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;

      &::before {
        content: '';
        width: 30px;
        background: #000;
        height: 3px;
        display: block;
        position: absolute;
        top: -15px;
        bottom: 0;
        margin: auto;
      }

      &::after {
        content: '';
        width: 30px;
        background: $color__dark;
        height: 3px;
        display: block;
        position: absolute;
        top: 15px;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .menu {
    display: none;
    width: 100%;

    &__item {
      display: block;
      width: 100%;
      text-align: center;

      a {

        &::after {
          display: none;
        }
      }
    }
  }


  // nav end

  // main
  //contact start
  .contact__right {

    &--item {
      font-size: 16px;
    }
  }

  //contact end


  // footer strat
  footer {
    font-size: 16px;
  }

  // footer end
}