//color
// $color__primary: #58B2DC;
$color__primary: #1C1C1C;
$color__second: #aaa;
$color__dark: #1C1C1C;
$color__light:#fff;

.color__primary {
  color: $color__primary;
}

.color__second {
  color: $color__second;
}

.white {
  color: white;
}

.black {
  color: black;
}

//opacity
.opacity--7 {
  opacity: .7;
}

.opacity--5 {
  opacity: .5;
}

.opacity--3 {
  opacity: .3;
}

// bg_color
.bg__primary {
  background: lighten($color: $color__primary, $amount: 30%);
}

// grid
$breakpoints: (xl: 1200,
lg: 960,
md: 720,
sm: 540, );
$grid: 12;
$colPadding: 15;

//font
.font__title--small {
  font-size: 24px;
  font-weight: bold;
}

.font__title--medium {
  font-size: 32px;
  font-weight: bold;
}

.font__title--big {
  font-size: 40px;
  font-weight: bold;
}

.font__content--small {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 40px;
}

.font__content--medium {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: normal;
}

.font__content--big {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: normal;
}

// position
.position--relative {
  position: relative;
}

@media (max-width: 720px) {
  .font__title--small {
    font-size: 18px;
  }

  .font__title--medium {
    font-size: 24px;
  }

  .font__title--big {
    font-size: 32px;
  }
  .font__content--small {
    font-size: 16px;
    line-height: 25px;
  }
  
  .font__content--medium {
    font-size: 24px;
    letter-spacing: normal;
  }
  
  .font__content--big {
    font-size: 32px;
    letter-spacing: normal;
  }
}