@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.color__primary {
  color: #1C1C1C; }

.color__second {
  color: #aaa; }

.white {
  color: white; }

.black {
  color: black; }

.opacity--7 {
  opacity: .7; }

.opacity--5 {
  opacity: .5; }

.opacity--3 {
  opacity: .3; }

.bg__primary {
  background: dimgray; }

.font__title--small {
  font-size: 24px;
  font-weight: bold; }

.font__title--medium {
  font-size: 32px;
  font-weight: bold; }

.font__title--big {
  font-size: 40px;
  font-weight: bold; }

.font__content--small {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 40px; }

.font__content--medium {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: normal; }

.font__content--big {
  font-size: 40px;
  font-weight: normal;
  letter-spacing: normal; }

.position--relative {
  position: relative; }

@media (max-width: 720px) {
  .font__title--small {
    font-size: 18px; }
  .font__title--medium {
    font-size: 24px; }
  .font__title--big {
    font-size: 32px; }
  .font__content--small {
    font-size: 16px;
    line-height: 25px; }
  .font__content--medium {
    font-size: 24px;
    letter-spacing: normal; }
  .font__content--big {
    font-size: 32px;
    letter-spacing: normal; } }

*,
*:before,
*:after {
  font-family: "Arial", "Microsoft JhengHei" !important;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.fixed_width {
  width: 1150px;
  margin: auto; }

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%; }

.mobil-toggle {
  display: none; }

nav {
  padding: 8px 0 8px 0; }

.logo {
  float: left;
  display: inline; }
  .logo a {
    display: block;
    height: 0;
    cursor: pointer; }
  .logo img {
    height: 40px; }

.menu {
  float: right;
  display: inline;
  line-height: 40px; }
  .menu__item {
    float: left;
    padding: 0 0 0 15px; }
    .menu__item a {
      cursor: pointer; }
      .menu__item a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: 0 auto;
        border: 0;
        background: #1C1C1C;
        transition: all .2s; }
      .menu__item a:hover {
        background-color: #fff; }
        .menu__item a:hover::after {
          animation: changeLetter .3s 1 linear;
          width: 100%; }

@keyframes changeLetter {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.product__title--big {
  padding-bottom: 40px; }

.product__title--medium {
  padding-left: 12px; }

.about {
  padding: 80px 0 80px 0; }
  .about h3 {
    padding: 0 0 40px 0; }
  .about p {
    text-align: center; }

.product {
  padding: 80px 0 80px 0; }

.share {
  padding: 80px 0 0 0; }
  .share__title {
    padding-bottom: 40px; }

.share__img {
  padding: 0 0 80px 0; }

.contact {
  background: url("../imgs/sdbanner.jpg") no-repeat center;
  background-size: cover; }
  .contact__title {
    padding-bottom: 40px; }

.contact__mask {
  background: rgba(0, 0, 0, 0.5);
  padding: 80px 0 80px 0; }

.contact__left {
  padding-right: 25px;
  width: 50%;
  float: left; }
  .contact__left--form {
    width: 550px;
    padding: 10px;
    border: solid 1px #52555a;
    margin: 0 0 20px 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold; }
  .contact__left--submit {
    width: 100px;
    outline: none;
    background-color: #0f0f0f;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    float: right; }
  .contact__left--submit-hover:hover {
    background-color: black; }

.contact__right {
  width: 50%;
  padding-left: 25px;
  float: left; }
  .contact__right--item {
    padding-top: 20px; }

footer {
  text-align: center;
  padding: 10px 0 10px 0;
  display: block;
  font-size: 24px; }

@media (max-width: 1200px) {
  .fixed_width {
    width: 910px;
    margin: auto; }
  .contact__left {
    width: 50%;
    float: left;
    padding-right: 15px; }
    .contact__left--form {
      width: 100%;
      padding: 10px;
      margin: 0 0 10px 0; }
    .contact__left--submit {
      width: 100px;
      padding: 10px; }
  .contact__right {
    width: 50%;
    padding-left: 15px;
    float: right; }
    .contact__right iframe {
      height: 170px; } }

@media (max-width: 960px) {
  .fixed_width {
    width: 670px; }
  .about p {
    text-align: justify; }
  .about br {
    display: none; }
  .product__title--medium {
    padding-left: 5px; }
  .contact__left {
    width: 100%;
    float: left;
    padding: 0;
    margin-bottom: 30px; }
    .contact__left--form {
      width: 100%; }
    .contact__left--submit {
      width: 100%; }
  .contact__right {
    width: 100%;
    padding: 0; }
    .contact__right iframe {
      height: 170px; } }

@media (max-width: 720px) {
  .fixed_width {
    width: 500px; }
  .about {
    padding: 40px 0 40px 0; }
    .about h3 {
      padding: 0 0 20px 0; }
  .product {
    padding: 40px 0 40px 0; }
  .share {
    padding: 40px 0 0 0; }
  .share__img {
    padding: 0 0 40px 0; }
  .contact {
    background: url("../imgs/sdbanner.jpg") no-repeat center;
    background-size: cover; }
  .contact__mask {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 0 40px 0; }
  .contact__left {
    padding: 0;
    width: 100%;
    margin-bottom: 40px; }
    .contact__left--form {
      padding: 5px;
      margin: 0 0 20px 0;
      line-height: 18px;
      font-size: 16px;
      font-weight: bold; }
    .contact__left--submit {
      width: 100%;
      outline: none;
      background-color: #1C1C1C;
      border: none;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      padding: 10px; }
  .contact__right {
    width: 100%;
    padding-left: 0; }
    .contact__right--item {
      padding-top: 20px; }
  footer {
    font-size: 20px; } }

@media (max-width: 556px) {
  .fixed_width {
    width: 95%; }
  .logo {
    float: left;
    display: inline; }
    .logo a {
      display: block;
      height: 0; }
    .logo img {
      height: 40px; }
  .mobile-toggle {
    display: block;
    float: right;
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer; }
    .mobile-toggle span {
      width: 30px;
      background: #000;
      height: 3px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }
      .mobile-toggle span::before {
        content: '';
        width: 30px;
        background: #000;
        height: 3px;
        display: block;
        position: absolute;
        top: -15px;
        bottom: 0;
        margin: auto; }
      .mobile-toggle span::after {
        content: '';
        width: 30px;
        background: #1C1C1C;
        height: 3px;
        display: block;
        position: absolute;
        top: 15px;
        bottom: 0;
        margin: auto; }
  .menu {
    display: none;
    width: 100%; }
    .menu__item {
      display: block;
      width: 100%;
      text-align: center; }
      .menu__item a::after {
        display: none; }
  .contact__right--item {
    font-size: 16px; }
  footer {
    font-size: 16px; } }

.owl-theme {
  position: relative; }

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  -webkit-tap-highlight-color: transparent;
  opacity: .5; }

/* ie用的 */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  outline: none; }

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 7.5px 25px 7.5px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 50%; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #1C1C1C; }

.customNextBtn,
.customPrevBtn {
  position: absolute;
  top: 50%;
  transform: translate(0, 50%);
  z-index: 1;
  cursor: pointer;
  transition: all .3s ease; }

.customNextBtn-hover:hover,
.customPrevBtn-hover:hover {
  background-color: #000; }

.customNextBtn {
  right: 15px; }

.customPrevBtn {
  left: 15px; }

.share__customBtn {
  top: calc(50% - 40px); }

.share__img--height {
  height: 400px; }

@media (max-width: 720px) {
  .owl-theme .owl-dots .owl-dot span {
    margin: 0 7.5px 15px 7.5px; } }

@media (max-width: 540px) {
  .owl-theme .owl-dots .owl-dot span {
    margin: 0 5px 5px 5px; } }

.blog-card {
  position: relative;
  max-width: 360px;
  width: 100%;
  height: 450px;
  margin: 11px;
  margin-bottom: 40px;
  margin-top: 10px;
  color: #fff;
  float: left;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s; }
  .blog-card:hover {
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75); }
    .blog-card:hover .card-info {
      opacity: 1;
      bottom: 100px; }
  .blog-card .color-overlay {
    height: 450px;
    width: 360px;
    transition: background-color 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }
    .blog-card .color-overlay:hover {
      background-color: rgba(64, 64, 70, 0.6); }
  .blog-card .card-info {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1); }

.bg-img1 {
  background: url("../imgs/S__6856724.jpg") center no-repeat;
  background-size: cover; }

.bg-img2 {
  background: url("../imgs/S__6856717.jpg") center no-repeat;
  background-size: cover; }

.bg-img3 {
  background: url("../imgs/S__6856716.jpg") center no-repeat;
  background-size: cover; }

.bg-img4 {
  background: url("../imgs/S__6856766.jpg") center no-repeat;
  background-size: cover; }

.bg-img5 {
  background: url("../imgs/S__6856763.jpg") center no-repeat;
  background-size: cover; }

.bg-img6 {
  background: url("../imgs/S__6856709.jpg") center no-repeat;
  background-size: cover; }

.bg-img7 {
  background: url("../imgs/S__6856772.jpg") center no-repeat;
  background-size: cover; }

.bg-img8 {
  background: url("../imgs/S__6856760.jpg") center no-repeat;
  background-size: cover; }

.bg-img9 {
  background: url("../imgs/S__6856771.jpg") center no-repeat;
  background-size: cover; }

.bg-img10 {
  background: url("../imgs/S__6856745.jpg") center no-repeat;
  background-size: cover; }

.bg-img11 {
  background: url("../imgs/S__6856762.jpg") center no-repeat;
  background-size: cover; }

.bg-img12 {
  background: url("../imgs/S__6856761.jpg") center no-repeat;
  background-size: cover; }

.bg-img13 {
  background: url("../imgs/S__6856739.jpg") center no-repeat;
  background-size: cover; }

.bg-img14 {
  background: url("../imgs/S__6856737.jpg") center no-repeat;
  background-size: cover; }

.bg-img15 {
  background: url("../imgs/S__6856768.jpg") center no-repeat;
  background-size: cover; }

@media (max-width: 1200px) {
  .blog-card {
    max-width: 280px;
    height: 400px;
    margin: 11px;
    margin-bottom: 40px;
    margin-top: 10px; }
    .blog-card .color-overlay {
      height: 400px;
      width: 280px; } }

@media (max-width: 960px) {
  .blog-card {
    max-width: 210px;
    height: 300px;
    margin: 10px 5px 40px 5px; }
    .blog-card:hover .card-info {
      bottom: 50px; }
    .blog-card .color-overlay {
      width: 210px;
      height: 300px; }
    .blog-card .card-info {
      padding: 0 15px;
      font-style: 16px;
      line-height: 24px; } }

@media (max-width: 720px) {
  .bg-img3,
  .bg-img6,
  .bg-img9,
  .bg-img12,
  .bg-img15 {
    display: none; }
  .blog-card {
    max-width: 240px;
    height: 300px;
    margin: 10px 5px 40px 5px; }
    .blog-card:hover .card-info {
      bottom: 50px; }
    .blog-card .color-overlay {
      width: 240px;
      height: 300px; }
    .blog-card .card-info {
      padding: 0 15px;
      font-style: 16px;
      line-height: 24px; } }

@media (max-width: 540px) {
  .blog-card {
    max-width: 95%; }
    .blog-card:hover {
      box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75); }
      .blog-card:hover .card-info {
        opacity: 1;
        bottom: 70px; }
    .blog-card .color-overlay {
      width: 100%; }
      .blog-card .color-overlay:hover {
        background-color: rgba(64, 64, 70, 0.6); } }

/*# sourceMappingURL=style.css.map */