.full_width {
  width: 100%;
}

// .fixed_width {
//   width: 1530px;
//   margin: auto;
// }

@for $i from 1 through $grid {
  .col-#{$i} {
    width: 100% / $grid * $i;
  }
}

@each $size,
$width in $breakpoints {
  
  @media screen and (min-width: $width * 1px) {
    .fixed_width {
      width: $width * 1px - 20px;

      margin: auto;
    }

    @for $i from 1 through $grid {
      .col-#{$size}-#{$i} {
        width: 100% / $grid * $i;
      }
    }
  }
}

[class^="col"] {
  float: left;
  padding: $colPadding * 1px;
}