.inner_banner {
  border-bottom: solid 5px $primary_red;
  // max-width: 1530px;
  width: 100%;
  padding: 60px 0; //banner的上下寬控制

//   改變banner的上下寬
  @include sm_under {
    padding: 40px 0 100px 0;
  }
}

.ibt {
  position: relative;
  margin: 0 auto 0 32%; //水平置中
  width: 650px; //文字的大小,大樓是用定位所以不影響


  //   在視窗變小時，改變文字大小
  @include xl_under {
    margin: auto;
  }
  @include lg_under {
    width: 300px;
  }

  @include md_under {
    width: 250px;
  }
}

.ibe {
  
  position: absolute;
  width: 220px; //大樓的大小
  top: -42px;
  // bottom: 0;
  left: 790px;
  @include xl_under {
    top: 48px;
    left: 670px;
    width: 125px;
  }

  @include lg_under {
    left: 105%;
    width: 90px;
    top: 20px
  }

  @include md_under {
    left: 105%;
    top: 10px;
  }

  @include sm_under {
    left: 80%;
    top: 60px;
    width: 80px;
  }
}