//學長姐分享標題
.share_title {
  text-align: center;
  padding: 65px 0;

  @include sm_under {
    padding: 30px 0;
  }

  h3 {
    font-size: 42px;
    line-height: 50px; //文字的上下寬度控制
    letter-spacing: 5px;
    display: inline-block;
    position: relative;

    @include sm_under {
      font-size: 30px;
      // line-height: 50px;
    }

    &::before {
      position: absolute;
      content: url(../imgs/title_left_star.png);
      left: -90px;

      @include sm_under {
        left: -80px;
      }
    }

    &::after {
      position: absolute;
      content: url(../imgs/title_right_star.png);
      left: 240px;

      @include sm_under {
        left: 180px;
      }
    }
  }
}

// share內容
.share {
  max-width: 1530px;
  width: 98%;
  margin: 0 auto;
}

.people1,
.people2,
.people3,
.people4 {
  margin: 0 0 60px 0; //一格一格的寬度

  @include lg_under {
    margin-bottom: 30px;
  }

  div {
    padding: 15px 30px 0 30px;
    position: relative;

    @include lg_under {
      padding: 0;
    }
  }

  h3,
  p,
  span {
    font-size: 27px;
    line-height: 50px;
    font-weight: bold;

    @include lg_under {
      font-size: 24px;
      line-height: 35px;
    }

    @include md_under {
      font-size: 18px;
      line-height: 30px;
    }

    @include md_under {
      padding-left: 80px;
    }
  }

  .f39 {
    font-size: 39px;

    @include lg_under {
      font-size: 35px;
    }

    @include md_under {
      font-size: 25px;
    }
  }


  span {
    display: block;
    margin-left: 85px;

    @include lg_under {
      margin-left: 75px;
    }

    @include md_under {
      // display: none;
      margin-left: 55px;
    }
  }
}

.senior {
  display: inline-block;
  font-size: 39px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 10px 50px 10px 80px;
  letter-spacing: 10px;
  background-image: url(../imgs/share_star.png);
  background-repeat: no-repeat;
  background-position: 20px 50%;
  border-radius: 20px 20px 0 0;

  @include lg_under {
    font-size: 30px;
    line-height: 40px;
    //   padding: ;
    letter-spacing: normal;
  }

  @include sm_under {
    padding-left: 0px;
  }
}

.share_content {
  ul {
    width: 100%;
    padding-right: 390px;
    text-align: justify;

    @include xl_under {
      padding-right: 300px;
    }

    @include md_under {
      padding-right: 0;
    }
  }

  li {
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 20px;
    color: #313131;

    @include xl_under {
      font-size: 18px;
      line-height: 30px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    @include md_under {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.head1 {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 275px;

  @include xl_under {
    width: 200px;
    right: 30px;
  }
  @include lg_under {
    width: 190px;
  }

  @include md_under {
    display: none;
  }
}

.head2 {
  position: absolute;
  bottom: 0;
  right: 30px;
  width: 245px;

  @include xl_under {
    width: 190px;
  }

  @include md_under {
    display: none;
  }
}

.head3 {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 305px;

  @include xl_under {
    width: 240px;
  }

  @include md_under {
    display: none;
  }
}
.head4 {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 405px;

  @include xl_under {
    width: 290px;
    right: 40px;
  }
  @include lg_under {
    width: 270px;
    right: 10px;
  }

  @include md_under {
    display: none;
  }
}

.small_head {
  display: none;

  @include md_under {
    display: block;
    width: 70px;
    position: absolute;
    top: 0;
    left: 5px;
  }
}



//團體照片
.everyone {
  max-width: 1530px;
  width: 90%;
  margin: auto;
}

//分享連結
.share_button {
  text-align: center;
  width: 380px;
  height: 100px;
  margin: 40px auto;

  @include md_under {
    width: 200px;
    height: 50px;
    margin: 5px auto;
  }

  a {
    // line-height: 100px;
    font-size: 36px;
    display: inline-block;
    padding: 37px 60px 40px 40px;
    position: relative;

    @include md_under {
      font-size: 20px;
      padding: 18px 30px 23px 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -18px;
      border-style: solid;
      border-width: 18px;
      border-color: transparent transparent transparent #FFF;

      @include md_under {
        right: 0;
        border-width: 10px;
        margin-top: -12px;
      }
    }
  }
}