.time {
  max-width: 1530px;
  width: 97%;
  margin: 0 auto;

  @include md_under {
    padding-bottom: 30px;
  }
}

.time_title {
  line-height: 90px;
  letter-spacing: 5px;
  padding-left: 175px;
  position: relative;
  font-size: 42px;

  @include xl_under {
    font-size: 30px;
    line-height: 60px;
    padding-left: 140px;
  }

  @include lg_under {
    font-size: 25px;
    line-height: 40px;
    padding-left: 70px;
  }

}

.house {
  &::before {
    content: '';
    display: inline-block;
    background: url("../imgs/house.fw.png") no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    left: 70px;
    margin-top: -35px;

    @include xl_under {
      width: 30px;
      height: 30px;
      background-size: cover;
      top: 80%;
      left: 88px;
    }

    @include lg_under {
      top: 95%;
      left: 22px;
    }
  }
}

.book {
  &::before {
    content: '';
    display: inline-block;
    background: url("../imgs/book.png") no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    left: 70px;
    margin-top: -30px;

    @include xl_under {
      width: 30px;
      height: 30px;
      background-size: cover;
      top: 77%;
      left: 88px;
    }

    @include lg_under {
      top: 90%;
      left: 21px;
    }
  }
}


.time_content {
  padding-left: 100px;

  @include lg_under {
    padding-left: 34px;
  }

  // 資訊內容排版適用上下排
  ul {
    border-left: solid 5px $primary_red;
    padding: 35px 0;

    @include lg_under {
      padding: 0;
    }

  }

  li {
    padding: 35px 0 35px 60px;
    position: relative;
    display: block;

    @include xl_under {
      padding: 15px 0 15px 20px;
    }

    &::before {
      content: '';
      display: block;
      background: url('../imgs/itemstar_red.png') no-repeat;
      width: 34px;
      height: 36px;
      position: absolute;
      top: 35px;
      left: -20px;
      @include xl_under {
        top: 10px;
      }

      @include lg_under {
        top: 15px;
      }
    }
  }
}

.content4 {
  padding-left: 100px;

  @include lg_under {
    padding-left: 34px;
  }

  // 資訊內容排版適用上下排
  ul {
    border-left: solid 5px $primary_yellow;
    padding: 35px 0;
    position: relative;

    @include lg_under {
      padding: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -5px;
      display: block;
      width: 12px;
      height: 151px;
      background-color: #FFF;

      @include xl_under {
        left: -6px;
        height: 120px;
      }

      @include lg_under {
        left: -9px;
        height: 45px;
      }

      @include md_under {
        height: 68px;
        left: -7px;
      }

    }
  }

  li {
    padding: 35px 0 35px 60px;
    position: relative;
    display: block;

    @include xl_under {
      padding: 15px 0 15px 20px;
    }

    &::before {
      content: '';
      display: block;
      background: url('../imgs/itemstar_yellow.png') no-repeat;
      width: 34px;
      height: 36px;
      position: absolute;
      top: 35px;
      left: -20px;
      z-index: 2;
      @include xl_under {
        top: 10px;
      }

      @include lg_under {
        top: 15px;
      }
    }
  }
}

.school {
  width: 48%;
  float: left;
  margin: 10px 1% 0 1%;
  font-size: 42px;
  line-height: 30px;
  font-weight: normal;
  white-space: nowrap;

  @include xl_under {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
  }

  @include lg_under {
    font-size: 20px;
    line-height: 15px;
    margin-top: 10px;
  }

  @include md_under {
    width: 100%;
    line-height: 10px;
    font-size: 18px;
  }

  .name {
    font-weight: bold;
    letter-spacing: 3px;
    @include md_under {
      letter-spacing: normal;
    }

    span {
      font-weight: normal;
      letter-spacing: 0;
    }
  }

  .place {
    font-size: 32px;
    line-height: 30px;
    font-weight: normal;
    font-family: "Microsoft JhengHei" !important;


    @include xl_under {
      font-size: 20px;
      line-height: 28px;
    }

    @include lg_under {
      font-size: 16px;
      line-height: 16px;
    }

    @include md_under {
      font-size: 14px;
    }
  }
}

.schedule {
  width: 48%;
  float: left;
  margin: 0 1%;

  @include md_under {
    width: 100%;
  }

  .schedule_l {

    p {

      width: 20%;
      float: left;
      margin: 0 4%;
      font-size: 66px;
      // vertical-align: top;
      // line-height: 80px;
      // padding-top: 50px;

      @include xl_under {
        // width: 30%;
        font-size: 30px;
        // line-height: 40px;
      }

      @include lg_under {
        // padding-top: 20px;
      }

      @include md_under {
        line-height: 10px;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
    }

    span {
      font-size: 40px;

      @include xl_under {
        font-size: 25px;
        line-height: 35px;
      }

      @include md_under {
        font-size: 14px;
      }

    }
  }

  .schedule_r {
    width: 70%;
    float: left;
    font-size: 25.5px;
    line-height: 30px;
    padding-top: 3px;
    font-family: "Century Gothic" !important;
    letter-spacing: 5px;
    @include md_under {
      letter-spacing: normal;
    }

    span {
      font-family: "Century Gothic" !important;
    }

    @include xl_under {
      font-size: 16px;
      line-height: 20px;
      padding-top: 0;
    }

    @include lg_under {
      // padding-top: 20px;
    }

    @include md_under {
      width: 80%;
      padding: 0;
      line-height: 35px;

      br {
        display: none;
      }
    }
  }
}


//紅星星圖
.time {
  .content1 {
    position: relative;

    figure {
      position: absolute;
      top: 70px;
      right: 100px;
      width: 90px;
      height: 99px;
      @include xl_under {
        right: 60px;
      }

      @include lg_under {
        width: 60px;
        height: 70px;
      }

      @include sm_under {
        display: none;
      }
    }
  }

  .content4 {
    position: relative;

    .star1 {
      position: absolute;
      top: 310px;
      right: 20px;
      width: 90px;
      height: 99px;

      @include lg_under {
        width: 60px;
        height: 70px;
      }

      @include sm_under {
        display: none;
      }
    }

    .girl {
      position: absolute;
      top: 560px;
      right: 50px;
      width: 220px;

      @include xl_under {
        display: none;
      }
    }

    .star2 {
      position: absolute;
      bottom: 125px;
      right: 115px;
      width: 90px;
      height: 99px;
      @include xl_under {
        right: 60px;
      }

      @include lg_under {
        width: 60px;
        height: 70px;
      }

      @include sm_under {
        display: none;
      }
    }
  }
}